/**
 * Admin area
 */

/**
 * SMMP plugin pages
 */
.smmp-admin-page input[type="text"],
.smmp-admin-page input[type="url"]	{
	width: 100%;
}

.smmp-admin-page .display-hidden	{
	display: none;
}

.smmp-admin-page .right { float: right; }
.smmp-admin-page .info { font-style: italic; color: #666; }

/* Facebook */
.facebook-page	{
	padding: 0 40% 5px 0; border-bottom: 1px solid #efefef;
}

.primary-label-button {
	border: 1px solid #eee; border-radius: 8px; padding: 1px 8px 2px; margin-top: -2px; cursor: pointer;
	font-size: .9em; color: #aaa;
}

.primary-label-button.active {
	border: 1px solid white; background: #73ADF9;
	color: white;
}

.smmp-admin-page .disconnect	{
	padding: 10px; cursor: pointer;
	color: #73ADF9; line-height: 2em; text-decoration: underline;
}
.smmp-admin-page .disconnect:hover	{ color: #7D0109; }

/**
 * Edit Post - Submitbox
 */
.misc-pub-smmp	{
	 
}

.misc-pub-smmp:before	{
	content: "\f487";
	font: 400 20px/1 dashicons;
	color: #82878c;
	speak: none;
	display:inline-block;
	padding: 0 2px 0 0;	 
	position: relative;
    top: 5px;
}

.misc-pub-smmp ul,
.misc-pub-smmp li 	{
	display: inline !important;
}

.misc-pub-smmp li {
	margin-right: 5px;
}

.misc-pub-smmp .smmp-share-button {
	padding: 0 8px 1px;
}

.misc-pub-smmp .smmp-share-button > span {
	padding-top: 5px;
}

.misc-pub-smmp .smmp-share-button > input {
	display: none;
}

.misc-pub-smmp .smmp-share-button .pub-status {
	position: absolute;
    top: -5px;
    right: -5px;
    display: none;
}

.misc-pub-smmp.published .smmp-share-button {
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: .6;
	color: #a0a5aa!important;
    border-color: #ddd!important;
    background: #f7f7f7!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: 0 1px 0 #fff!important;
    cursor: default;
    position: relative;
}

.misc-pub-smmp.published .smmp-share-button .pub-status > span{
    background-color: green;
    border-radius: 10px;
    color: #fff;
}

.misc-pub-smmp.pending .smmp-share-button.active {
	background: #eee;
    border-color: #999;
    color: #32373c;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
    box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
}

.misc-pub-smmp.published .smmp-share-button.active .pub-status{
    display: block;
}
