/**
 * Admin area
 */

/**
 * SMMP plagin pages
 */
.smmp-admin-page input[type="text"],
.smmp-admin-page input[type="url"]	{
	width: 100%;
}

/**
 * Edit Post - Submitbox
 */
.misc-pub-smmp	{
	 
}

.misc-pub-smmp:before	{
	content: "\f487";
	font: 400 20px/1 dashicons;
	color: #82878c;
	speak: none;
	display:inline-block;
	padding: 0 2px 0 0;	 
	position: relative;
    top: 5px;
}

.misc-pub-smmp ul,
.misc-pub-smmp li 	{
	display: inline !important;
}

.button.smmp-share-button {
	padding: 0 8px 1px;
}

.button.smmp-share-button > span {
	padding-top: 5px;
}

.button.smmp-share-button.selected {
	background: #eee;
    border-color: #999;
    color: #32373c;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
    box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
}